<div class="background-container columns is-centered">
  <div class="column is-one-third">

    <div id="home-card" class="card">
      <div class="card-content">
        <div class="content">
          Ever thought of making your commute a little more fun?!
          <br>
          <br>
          <p>The commuter crawl is a drinking application that you can use to plan a day out with a group of friends or even by yourself. The way the app works is you can map out a bar crawl using Transport for London(tfl) tube lines ,and stations as points of interest to pick bars/pubs to plot your route.</p>

            <p class="home-card-footer">Sounds interesting? Why not <a ui-sref="register">Sign-up</a> here.</p>

        </div>

      </div>

    </div>

    <!-- <h1>Ever thought of making your commute a little more fun?!</h1>
    <br>
    <br>
    <p>The commuter crawl is a drinking application that you can use to plan a day out with a group of friends or even by yourself. The way the app works is you can map out a bar crawl using Transport for London(tfl) tube lines ,and stations as points of interest to pick bars/pubs to plot your route.</p>
    <br>
    <br>
    <p>Sounds interesting? Why not <a ui-sref="register">Sign-up</a> here.</p> -->
  </div>
</div>
