<!DOCTYPE html>
<html ng-app="crawls">
<head>
  <meta charset="utf-8">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPr7S7RyMxHqqWsRNkhhDL5-tOIZ2c2QU&libraries=places"></script>

  <title>WDI32 Group Project</title>
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="nav-item" ui-sref="home"><h1 id="nav-title" class="title is-1">Pub Crawl Planner</h1></a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
          <a class="navbar-item" ng-if="!main.isAuthenticated()" ui-sref="login">Login</a>
          <a class="navbar-item" ng-if="!main.isAuthenticated()" ui-sref="register">Sign up</a>
        </div>
  </nav>

  <h1>WDI32 Group Project</h1>
<div class="container" ui-view></div>
<br>
<div class="about">
  <h2>Instructions</h2>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<button type="submit" name="create-crawl">Start Crawl</button>
</body>
</html>
