footer .container {
  background-color: #008f95;
  // position: fixed;
  bottom: 0;
  line-height: 3.4;
  width: 100%;
  height: 50px;
  font-family: 'Poppins', cursive;
  margin-left: 0;
  margin-right: 0;
}

footer p, p strong {
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #e9b000;
  text-decoration: underline;
}
// #e9b000
