///////////////////////////////////////////////////////////////////////////////
// NAV-BAR
///////////////////////////////////////////////////////////////////////////////

#nav-title {
  color: #ffffff;
  line-height: 1.725;
  padding-left: 40px;
}

#nav-title:hover {
  color: #e9b000;
}

.navbar-end {
  padding-right: 40px;
}

.navbar-end a {
  line-height: 4.5;
  padding: 1px 10px;
}

.navbar-end a:hover {
  background-color: #008f95;
  border-bottom: 4px solid #e9b000;
  color: #e9b000;
}

.navbar{
  background-color: #008f95;
}

.navbar a {
  color: #ffffff;
}

.title {
 text-align: center;
}
