

.showContainer {
  padding-top: 20px;
}

.showMap {

  border-radius: 3px;
  height: 500px;
}

.card.showCard {
  border-radius: 3px;
  width: 100%;
  box-shadow: none;
}

.show-buttons.has-text-centered {
  margin-top: 50px;
}
