

@import '~bulma';

@import 'showpage';

#bar-card {
  // display: inline;
  max-width: 300px;
}

.bar-info {
  display: inline;
  padding: 10px 0;
}

.card {
  height: 250px;
  width: 300px;
}

.columns {
  padding-top: 60px;
}

// .card-content {
//   padding: 14px 14px;
// }

.map {
  height: 500px;
  width: 750px;
}

form {
  margin: 0 50px;
  padding-top: 60px;
}

.newcontainer {
  padding-bottom: 50px;
}

@import 'navbar';

@import 'footer';

@import 'login';
@import 'registration';
@import 'home';
