<p ng-if="login.data.error">{{ login.data.error }}</p>

<form name="login.form" ng-submit="login.handleLogin()" novalidate>

  <div class="container">
    <div class="auth-columns">
      <div class="column is-one-third">

      </div>
      <div class="column is-one-third">
        <div class="auth-card">
          <div class="card-content">
            <div class="field">
              <label for="email"></label>
              <input class="input is-rounded is-primary" placeholder="Email" name="email" ng-model="login.data.email" required />
              <div ng-if="login.form.email.$touched || login.form.$submitted">
                <small ng-if="login.form.email.$error.required">This field is required</small>
              </div>
            </div>
            <div class="field">
              <label for="password"></label>
              <input class="input is-rounded is-primary" type="password" placeholder="Password" name="password" ng-model="login.data.password" required />
              <div ng-if="login.form.password.$touched || login.form.$submitted">
                <small ng-if="login.form.password.$error.required">This field is required</small>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>
                    <button class="button is-rounded is-warning is-outlined">Submit</button>
                  </span>
                </p>
              </footer>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="column is-one-third">

  </div>
</div>
</div>



</form>
