<p ng-if="login.data.error">{{ login.data.error }}</p>




<form name="login.form" ng-submit="login.handleLogin()" novalidate>

  <div class="field">
    <label for="email"></label>
    <input class="input is-rounded is-warning" placeholder="Email" name="email" ng-model="login.data.email" required />
    <div ng-if="login.form.email.$touched || login.form.$submitted">
      <small ng-if="login.form.email.$error.required">This field is required</small>
    </div>
  </div>
  <div class="field">
    <label for="password"></label>
    <input class="input is-rounded is-warning" type="password" placeholder="Password" name="password" ng-model="login.data.password" required />
    <div ng-if="login.form.password.$touched || login.form.$submitted">
      <small ng-if="login.form.password.$error.required">This field is required</small>
    </div>
  </div>



  <button class="button is-rounded is-success is-outlined">Submit</button>
</form>
